.sidebar-bg{
    height: 100vh;
    background: #173f74;
    color: #fff;
    padding-top: 40px;
}
.sidebar-op{
    padding: 13px 0;
    padding-left: 15px;
    margin: 0;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    
}
.sidebar-op:hover{
    background: #095194;
    color: #fff;
}
